<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Página sobre proveedores de energías renovables, incluyendo paneles solares de alta eficiencia.">
    <meta name="keywords"
          content="paneles solares, energía renovable, Trina Solar, Solen Technology, Celsia, Enel Green Power">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='ayudas.css') }}">
    <title>POTENCIA SOLAR</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

<header>
    <header class="solar-header">
        <div class="header-container">
            <img src="https://st.depositphotos.com/1378583/4183/v/950/depositphotos_41834667-stock-illustration-solar-panel-logo.jpg"
                 alt="Logo de Energías Renovables" class="logo">
            <h1>POTENCIA SOLAR</h1>

        </div>
    </header>

</header>

<main>


    <section class="intro">
        <h2 class="provider-title">Contáctenos</h2><br>
        <section class="contact-section">
            <form action="{{ url_for('enviar_contacto') }}" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo Electrónico:</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="comentarios">Comentarios:</label>
                    <textarea id="comentarios" name="comentarios" rows="4" required></textarea>
                </div>
                <input type="submit" value="Enviar">
            </form>

        </section>
        <br>
        <div style="text-align: center">
            <a href="/" class="button">Volver al inicio</a>
        </div>
    </section>


</main>

<footer>
    <div class="footer-container" style="align-content: center">
        <p>&copy; 2024 Potencia Solar - Todos los derechos reservados</p>
    </div>
</footer>
<script src="../static/proveedor.js"></script>
</body>
</html>
