<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Antioquia</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleantioquia') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
    <body>
        <div class="background"></div>
        <div id="main-container">
            <header class="solar-header">
                <div class="header-container">
                    <img src="https://st.depositphotos.com/1378583/4183/v/950/depositphotos_41834667-stock-illustration-solar-panel-logo.jpg" alt="Logo de Energías Renovables" class="logo">
                    <h1>Datos Antioquia</h1>
                </div>
            </header>
            <main>
                
                <section id="resumen">
                    <h2>Resumen de Energía Renovable</h2>
                    <p>Información general sobre la producción y consumo de energía renovable.</p>
                </section>
                <section id="graficos">
                    <div class="grafico">
                        <h3>Producción por Fuente de Energía</h3>
                        <canvas id="graficoBarras"></canvas>
                    </div>
                    <div class="grafico">
                        <h3>Participación de Cada Tipo de Energía</h3>
                        <canvas id="graficoTorta"></canvas>
                    </div>
                    <div class="grafico">
                        <h3>Tendencia Histórica</h3>
                        <canvas id="graficoLineas"></canvas>
                    </div>
                </section>
            </main>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div style="text-align: center;">
            <a href="/" class="button" id="volver_button">Volver al inicio</a>
            </div>
            <footer>
                <div class="footer-container">
                    <p>&copy; 2025 Proveedores de Energías Renovables - Todos los derechos reservados</p>
                </div>
            </footer>
            
        </div>
        <script src="/static/jsindex.js"></script>
    </body>
    
</html>